form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 30vw;
    height: 2em;
    background-color: hsl(0, 0%, 100%);
    box-shadow:  0 0 0.3em hsl(0, 0%, 52%);
    border-radius: 0.3em;
    padding: 1em;
}

form button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 100%);
}

form input{
    min-width: 91%;
    border: none;
}

form button img{
    width: 1em;
    color: hsl(0, 0%, 52%);
}