.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

div nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    max-width: 100vw;
    padding: 3%;
}

@media (max-width : 376px) {
    div nav{
        justify-content: center;
    }
}