footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 10vh;
  font-size: 11px;
}

.attribution {
  color: hsl(193, 38%, 86%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
